
<div class="banner">
	<h1>Find a restaurant near you!</h1>
</div>
<div class="cards-container">
	<% @restaurants.each do |restaurant| %>
		<%= link_to restaurant_path(restaurant) do %>
			<div class="card-trip">
				<% url = "https://source.unsplash.com/1600x900/?#{%w(dish food restaurant cafe bar).sample},#{restaurant.category}" %>
				<img src=<%= "#{url}" %> alt="">
				<div class="card-trip-infos">
					<div>
						<h2><%= restaurant.name %></h2>
						<p><%= "#{restaurant.category.capitalize} restaurant" %></p>
					</div>
					<div>
						<h2><%= "#{restaurant.rating}" %></h2>
					</div>
				</div>	
			</div>
		<% end %>
	<% end %>
</div>