<div class="global-container">
	<p>To create a new restaurant, fill the form below:</p>
	<%= simple_form_for(@restaurant) do |f| %>
		<%= f.input :name %>
		<%= f.input :address %>
		<%= f.input :phone_number %>
		<%= f.input :category %>
		<%= f.submit class: "btn btn-primary" %>
	<% end %>
</div>