<!DOCTYPE html>
<html>
  <head>
    <title>RailsYelpMvp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar navbar-light">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active-item"><%= link_to "Home", restaurants_path %></li>
        <li class="nav-item"><%= link_to "New restaurant", new_restaurant_path %></li>
      </ul>  
    </div>
    <%= yield %>
  </body>
</html>
